/* Global Reset and Normalizer Additions */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: var(--bs-body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--bs-body-font-family);
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow-x: hidden;
  line-height: 1.5;
}

/* Image responsive standard */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.shadow-lg {
  filter: drop-shadow(--bs-box-shadow-lg);
}

/* Hide scrollbars for chrome/safari */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for firefox/IE */
.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bs-light);
}

::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
  border-radius: 4px;
  transition: var(--transition-fast);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-primary);
}

/* Transition utility for router-views */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.hero-banner.homeBnr .hero-banner__content {
  max-width: 890px;
  padding-bottom: 80px;
}

.hero-banner.aboutBnr .hero-banner__content {
  max-width: 750px;
  padding-bottom: 20px;
}

.hero-banner.aboutBnr .hero-banner__subtitle {
  max-width: 665px;
}

.hero-banner.homeBnr .hero-banner__subtitle {
  max-width: 840px;
}

.hero-banner.AIStrategyBnr .hero-banner__content {
  max-width: 620px;
}

.hero-banner.AIStrategyBnr .hero-banner__subtitle {
  max-width: 575px;
}

.hero-banner.solutionBnr .hero-banner__content {
  max-width: 600px;
}

.hero-banner.solutionBnr .hero-banner__content h1 {
  color: var(--color-dark-secondary);
}

.hero-banner.solutionBnr .hero-banner__content p {
  color: var(--bs-body-color);
}

.hero-banner.solutionBnr .hero-banner_img {
  margin-left: auto;
}

.audience-slider {
  background: var(--bs-body-bg);
  padding: var(--sec-gap) 0;
}
.AIStrategyBnr .hero-banner_img {
  position: relative;
}

.AIStrategyBnr .hero-banner_img:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 100%;
  background: linear-gradient(90deg, rgba(4, 4, 5, 1) 0%, rgba(4, 4, 5, 0) 100%);
  content: "";
}

.AIStrategyBnr .hero-banner_img::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 100%;
  background: linear-gradient(270deg, rgba(4, 4, 5, 1) 0%, rgba(4, 4, 5, 0) 100%);
  content: "";
}

.audience-slider__header {
  max-width: 815px;
  margin: 0 auto 40px;
}

.audience-slider__header .sec__subtitle {
  max-width: 710px;
  margin: 0 auto;
}

.ai-platform__swiper .swiper-wrapper {
  align-items: center;
}

.ai-platform {
  padding: var(--sec-gap) 0;
  background-color: var(--color-surface);
}
