/* Custom Typography Base Rule Overrides */
h1,
h2,
.display-font {
  font-family: var(--font-display);
  color: var(--bs-dark);
}

/* Core Bootstrap Component Overrides via CSS Variables */
h1 {
  color: var(--bs-white);
  font-size: 55px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 25px;
}

.title__eyebrow {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid var(--bs-secondary);
  border-radius: 50px;
  margin-bottom: 30px;
  color: var(--bs-secondary);
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.sec__title {
  color: var(--color-dark-secondary);
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 25px;
}

.sec__subtitle {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.04em;
  margin-bottom: 0;
}

h3 {
  color: var(--color-dark-secondary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.05em;
}

p {
  margin-bottom: 0;
}

ul li,
ol li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
