@use "../base" as *;
.timeline-item {
  display: flex;
  position: relative;
  .time {
    color: #595d63;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 20px;
    width: 140px;
    margin-right: 65px;
    flex: 0 0 auto;

    @include mini-desktop {
      font-size: 14px;
      line-height: 1.2;
    }

    @include mobile {
      margin-right: 25px;
    }

    @include mini-mobile {
      max-width: 75px;
      line-height: 1.5;
      margin-right: 15px;
    }
  }
  .time-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bs-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 49px;
    flex: 0 0 auto;
    z-index: 2;

    @include mobile {
      margin-right: 25px;
    }
    @include mini-mobile {
      margin-right: 20px;
      width: 25px;
      height: 25px;
      font-size: 14px;
    }
    span {
      color: #000000;
      font-weight: 600;
    }
  }
  .content {
    flex: 1;
    h4 {
      color: var(--color-dark-secondary);
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: -0.02em;
      font-weight: 600;
      margin-bottom: 4px;
      @include mini-mobile {
        font-size: 16px;
      }
    }
    p {
      @include mobile {
        font-size: 15px;
      }
      @include mini-mobile {
        font-size: 14px;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(0% + 220px);
    width: 1px;
    height: 100%;
    background-color: var(--bs-secondary);
    z-index: 1;
    @include mobile {
      left: calc(0% + 180px);
    }
    @include mini-mobile {
      left: calc(0% + 102px);
    }
  }
}
.timeline-item + .timeline-item {
  padding-top: 50px;

  @include mini-desktop {
    padding-top: 30px;
  }

  @include mini-desktop {
    padding-top: 20px;
  }
}
.timeline-item {
  &:last-child {
    &::before {
      height: calc(100% - 45px);
    }
  }
}
