.footer-sec {
  background-color: var(--bs-dark);
}
.logo-box {
  padding-top: 78px;
  padding-right: 41px;
  border-right: 2px solid rgb(216 222 230 / 10%);
  height: 100%;
}
.logo-box p {
  margin-top: 75px;
  color: #c8d0d8;
}
.footer-content-box {
  padding-top: 78px;
}
.contct-hdng h4 {
  font-size: 26px;
  max-width: 350px;
}
.footer-content-box > .row {
  border-bottom: 2px solid rgb(216 222 230 / 10%);
}
.suscrd-btn {
  font-size: 14px;
  padding: 0 20px;
}
.ftrlink-row {
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 50px;
}
.footer-title,
.footer-subtitle {
  font-size: 17px;
  font-weight: 600;
  color: var(--bs-white);
}
.footer-list {
  padding: 0;
  list-style-type: none;
  margin-top: 28px;
}
.footer-link {
  font-size: 16px;
  color: #e7edf3;
  transition: var(--bs-transition);
  letter-spacing: -3%;
}
.footer-link:hover {
  color: var(--bs-primary);
}
.footer-link.router-link-exact-active {
  color: var(--bs-primary);
}
.footer-list li + li {
  margin-top: 14px;
}
.ftrcontent-box {
  padding-left: 0;
  width: 71%;
}
.footer-content-box .row {
  padding-left: 50px;
}
.ftrlink-row .col-lg-3 {
  padding-left: 30px;
}
.ftrlink-row .col-lg-3:first-child {
  padding-left: 0;
}
.ftrlink-row .col-lg-3:last-child {
  padding-left: 45px;
}
.ftr-wrap > .col-md-4.col-12 {
  width: 29%;
}
.footer-email .footer-link {
  font-size: 14px;
}
.copyrightWrp {
  border-top: 2px solid rgb(216 222 230 / 10%);
  padding-block: 18px;
}
.policy-lists {
  margin: 0;
}
.policy-lists li {
  list-style-type: none;
}
.policy-lists .policy-links {
  font-size: 15px;
  color: #e7edf3;
  letter-spacing: -3%;
}
.footer-copy {
  font-size: 15px;
  color: #e7edf3;
  letter-spacing: -3%;
}
.policy-lists li {
  position: relative;
  padding-right: 9px;
}
.policy-lists li + li {
  padding-inline: 9px;
}
.policy-lists li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  background-color: #e7edf3;
  height: 100%;
}
.policy-lists li:last-child {
  padding-right: 0;
}
.policy-lists li:first-child::before {
  display: none;
}
