@use "../base" as *;

.app-pagination {
  display: flex;
  margin-top: 50px;
  justify-content: center;

  @include tablet-landscape {
    margin-top: 40px;
  }

  @include mobile {
    margin-top: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    
    @include mobile {
      gap: 7px;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    height: 44px;
    padding: 0 15px;
    border-radius: var(--bs-border-radius-pill, 50rem);
    border: none;
    background: var(--bs-white);
    font-family: var(--bs-body-font-family);
    cursor: pointer;
    transition: var(--bs-transition);
    white-space: nowrap;
    line-height: 1;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-align: center;
    flex: 0 0 auto;
    @include mobile {
      min-width: 35px;
      height: 35px;
    }

    &--number {
      min-width: 44px;
      padding: 0;
      color: var(--bs-dark);
      font-size: 16px;
      font-weight: 600;
      @include mobile {
        min-width: 35px;
      }
    }

    &--label {
      padding: 0 24px;
      color: var(--bs-dark);
      font-size: 14px;
      font-weight: 500;
      @include mobile {
        padding: 0 20px;
        font-size: 13px;
      }
    }

    &--active,
    &:hover {
      background: var(--bs-dark, #121417);
      color: var(--bs-white, #ffffff);
    }

    &:disabled {
      cursor: not-allowed;
      color: #777f89;
      background: var(--bs-white) !important;
    }
  }

  &__ellipsis {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    height: 44px;
    font-size: 0.88rem;
    color: var(--bs-body-color, #6b7280);
    letter-spacing: 0.05em;
    user-select: none;
  }
}
