@use "../base" as *;
.btn {
  font-family: var(--bs-body-font-family);
  font-weight: 500;
  padding: 0 40px;
  border-radius: var(--bs-border-radius-pill);
  transition: var(--bs-transition);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  @include nav-collapsed {
    padding: 0 25px;
    height: 50px;
    font-size: 14px;
    letter-spacing: 0.05em;
  }

  @include tablet {
    font-size: 13px;
  }

  @include mobile {
    padding: 0 15px;
    height: 42px;
    font-size: 12px;
    letter-spacing: 0.05em;
  }

  @include mini-mobile {
    height: 46px;
    font-size: 14px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-white);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-white);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-primary);
}

.btn-secondary {
  --bs-btn-color: var(--color-white-pure);
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-white);
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-active-bg: var(--bs-white);
  --bs-btn-active-border-color: var(--bs-secondary);
  --bs-btn-color: var(--bs-black);
  --bs-btn-hover-color: var(--bs-secondary);
}

.btn-outline-white {
  --bs-btn-color: var(--bs-white);
  --bs-btn-border-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-white);
  --bs-btn-hover-border-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-dark);
}

.btn-outline-secondary {
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-secondary);
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-hover-color: var(--color-white-pure);
}
.btn-outline-light {
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-white);
}

.btn-outline-light-thin {
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-color: #e2e8f0;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-color: #768394;
  --bs-btn-hover-color: var(--bs-white);
}

.btn-loading {
  cursor: wait;
  opacity: 0.5;
}

.btn-disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.cart_btn {
  padding: 0;
  width: 40px;
  height: 40px;
  color: #7e7e7e;
  border-color: #afa89c87;
  @include mini-desktop {
    width: 35px;
    height: 35px;
  }
}
