@use "../base" as *;

.accelerate-section {
  padding: 83px 0;
  background-color: var(--bs-dark);
  border-bottom: 2px solid var(--bs-white);

  > .row {
    justify-content: space-between;
  }

  .row {
    align-items: center;
  }

  .sec__title {
    color: var(--bs-white);
    margin: 0;
  }

  @include mobile {
    padding: 40px 0;

    .sec__title {
      margin-bottom: 20px;
      font-size: 26px;
    }
  }
}

.btnWrp {
  display: flex;
  gap: 10px;
  justify-content: flex-end;

  @include mobile {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.btn-outline-trnp {
  background: transparent;
  color: var(--bs-white);

  &:hover {
    background: var(--bs-white);
    color: var(--bs-dark);
  }
}
