.engagement-sec {
  padding: var(--sec-gap) 0;
  background-color: var(--bs-light);
}

.smll-hdng {
  font-size: 17px;
  color: var(--bs-secondary);
  line-height: 26px;
  letter-spacing: -0.03em;
  font-weight: 500;
  margin-bottom: 35px;
}

.aboutpage-engagement {
  .txt-wrap {
    padding-right: 180px;
  }

  .soluction-wrap {
    margin-top: 70px;
  }

  .engagement-img-wrap {
    min-width: 700px;
  }
}

.engagement-img-wrap {
  img {
    margin-left: auto;
  }
}

.txt-wrap {
  padding-right: 60px;
}

.impliment-engagement {
  padding-bottom: 0;

  .txt-wrap{
    padding-bottom: var(--sec-gap);
  }

  .engagement-img-wrap {
    margin-top: 0;
    max-width: 600px;
    margin-left: auto;
  }
}

.digital-engagement-sec {
  .engagement-img-wrap {
    min-width: 700px;
    margin-right: -100px;
  }
}

.analytics-engagement-sec {
  .engagement-img-wrap {
    min-width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.fs_eng_sec {
  .engagement-img-wrap {
    margin-left: -50px;
    margin-right: -50px;
  }
}
