/* Buttons */
.btn {
  font-family: var(--bs-body-font-family);
  font-weight: 500;
  padding: 0 40px;
  border-radius: var(--bs-border-radius-pill);
  transition: var(--bs-transition);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.09em;
  text-transform: uppercase;


  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-white);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-white);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-primary);
}

.btn-secondary {
  --bs-btn-color: var(--color-white-pure);
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-white);
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-active-bg: var(--bs-white);
  --bs-btn-active-border-color: var(--bs-secondary);
  --bs-btn-color: var(--bs-black);
  --bs-btn-hover-color: var(--bs-secondary);
}

.btn-outline-white {
  --bs-btn-color: var(--bs-white);
  --bs-btn-border-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-white);
  --bs-btn-hover-border-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-dark);
}

.btn-outline-secondary {
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-secondary);
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-hover-color: var(--color-white-pure);
}
.btn-outline-light{
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-white);
}

.btn-outline-light-thin{
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-color: #E2E8F0;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-color: #768394;
  --bs-btn-hover-color: var(--bs-white);
}

.btn-loading {
  cursor: wait;
  opacity: 0.5;
}

.btn-disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
