@use "../base" as *;

.accelerate-section {
  padding: 83px 0;
  background-color: var(--bs-dark);
  border-bottom: 2px solid var(--bs-white);
  @include mini-desktop{
    padding: 60px 0;
  }

  > .row {
    justify-content: space-between;
  }

  .row {
    align-items: center;
    @include mini-desktop {
      flex-direction: column;
    }
    .col-md-6{
      @include mini-desktop{
        width: 100%;
      }
    }


  }

  .sec__title {
    color: var(--bs-white);
    margin: 0;
    @include mini-desktop{
      text-align: center;
    }
  }

  @include mobile {
    padding: 40px 0;
  }
}

.btnWrp {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
    @include mini-desktop{
      justify-content: center;
      margin-top: 35px;
    }

  @include mobile {
    flex-wrap: wrap;
  }
  @include mini-mobile{
    row-gap: 14px;

  }
  .btn{
    @include mini-mobile{
      width: 100%;
    }
  }
}

.btn-outline-trnp {
  background: transparent;
  color: var(--bs-white);

  &:hover {
    background: var(--bs-white);
    color: var(--bs-dark);
  }
}
