@use "../base" as *;
.form-floating {
  position: relative;
  background-color: #1d2328;
  padding: 0 21px;
  border-radius: 55px;
  height: 56px;
}

.baseInpFld {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: var(--bs-white);
  font-weight: 400;
  height: 100%;

  &::placeholder {
    color: var(--bs-white);
  }
}

.slot-icon-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.slot-icon-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-floating-filter {
  background: #fff;
  border: 1px solid #dfe6ed;
  /* color: #697380; */
  padding-left: 39px;
  border-radius: 7px;
  height: 42px;
  flex: 0 0 auto;
  width: calc(100% - 250px);

  .baseInpFld {
    color: var(--color-dark-secondary);

    &::placeholder {
      color: #697380;
    }
  }

  i {
    color: #697380;
  }

  @media (max-width: 1024px) {
    width: auto;
    flex: 1 1 auto;
  }
}

.form-floating-cstd {
  background: var(--bs-white);
  border: 1px solid var(--bs-border-color);
  border-radius: var(--border-radius-sm);
  padding: 0 24px;
  height: 45px;
  width: 100%;
  border-radius: 7px;

  .baseInpFld {
    color: var(--color-dark-secondary);
    font-size: 15px;

    &::placeholder {
      color: var(--bs-body-color);
    }
  }

  .slot-icon-right {
    right: 24px;
    font-size: 18px;
    color: var(--color-dark-secondary);
  }
}

.articles_bnr {
  .form-floating {
    border-radius: var(--border-radius-sm);
  }
}

.aiintelligence_bnr {
  .form-floating {
    padding: 0 20px 0 50px;
    height: 52px;
    border: 1px solid #1d2b3a;
    border-radius: var(--border-radius-sm);
    background: #112131;
    @include mini-mobile {
      padding: 0 15px 0 40px;
      height: 45px;
      border-radius: 7px;
    }
  }

  .baseInpFld {
    font-size: 15px;
    color: #647a91;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.04em;

    &::placeholder {
      color: #647a91;
    }
  }

  .hero-banner__search {
    max-width: 490px;
    margin-top: 45px;
    @include tablet {
      margin-top: 25px;
    }
  }

  .slot-icon-left {
    left: 20px;

    @include mini-mobile {
      left: 12px;
    }
  }
}
