@use "../base" as *;
.breakdown-card{
  background-color: #FFFFFF;
  border: 1px solid rgba(216, 222, 230, 87%);
  border-radius: 10px;
  position: relative;
  padding: 30px;
  width: 33.33%;
  @include tablet{
    padding: 20px;
  }
  .crd-hdr{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 25px;
    h6{
      color: var(--color-dark-secondary);
      font-size: 17px;
      font-weight: 600;
      letter-spacing: -0.04em;
      margin: 0;
    }
    .score{
      color: #255F69;
      font-size: 26px;
      letter-spacing: -0.04em;
      font-weight: 600;

    }
  }
  .crd-body{
    .range-slider-wrp{
      height: 10px;
    }
  }
  .crd-ftr{
    margin-top: 25px;
    p{
      color: var(--bs-body-color);
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.03em;
    }
  }
}
