@use "../base" as *;

.slider-viewport {
  overflow: hidden;
  width: 100vw;
}

.slider-track {
  display: flex;
  gap: 30px;
  will-change: transform;
}

.cs-card {
  flex-shrink: 0;
  width: 390px;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  background: var(--bs-white);
  cursor: pointer;
  position: relative;
  transition:
    width 700ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms ease;
  // @include tablet {
  //   width: 300px;
  // }

  &.active {
    width: 810px;
    opacity: 1;
    max-width: calc(100dvw - 36px);
  }

  .new_slide {
    height: 500px;
    position: relative;
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: var(--border-radius-md);
  }

  .card-tag {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--bs-secondary);
    background: var(--bs-white);
    border: 1px solid var(--bs-secondary);
    padding: 8px 15px;
    border-radius: var(--bs-border-radius-pill);
  }

  .card-body {
    background: var(--bs-white);
    padding: 25px 22px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: var(--border-radius-sm);

    h3 {
      font-weight: 600;
      color: var(--bs-dark);
      line-height: 1.2;
      letter-spacing: -0.05em;
      margin-bottom: 10px;
      transition: var(--bs-transition);
    }
  }

  .arrow-btn {
    flex-shrink: 0;
    border-radius: 50%;
    color: var(--bs-primary);
    font-size: 30px;
    border: none;
    flex: 0 0 auto;
    transition: var(--bs-transition);

    > i {
      color: var(--bs-primary);
    }

    &:hover {
      transform: rotate(45deg);
    }
  }
}
