.cstd_sec {
  background: var(--bs-success);
  min-height: 480px;
  padding: var(--sec-gap) 0;
  font-family: var(--bs-body-font-family);
  overflow: hidden;
}

.cstd-top {
  margin-bottom: 50px;

  .sec__title {
    color: var(--bs-white);
  }
}
