@use '../base' as *;

.casestudie-grid {
  display: grid;
  gap: 30px;

  &--cols-1 {
    grid-template-columns: 1fr;
    max-width: 390px;
    margin: 0 auto;
  }

  &--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    gap: 20px;
  }

  @include mobile {
    gap: 16px;

    &--cols-2,
    &--cols-3 {
      grid-template-columns: 1fr;
    }
  }

  @include tablet-only {
    &--cols-3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
