@use "../base" as *;

.comparison-value {
  &__chip {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    line-height: 1.3;

    color: var(--color-dark-secondary);
    font-size: 14px;
    font-weight: 500;

    &--good {
      background-color: #eaf7ee;
      color: #2b9166;
    }

    &--warn {
      background-color: #fdf3e7;
      color: #d2691e;
    }

    &--bad {
      background-color: #fbeaea;
      color: #c0392b;
    }
  }

  &__score {
    display: flex;
    align-items: center;
    gap: 10px;
      max-width: calc(100% - 30px);
      margin-inline: auto;

    .range-slider-wrp {
      flex: 1;
      background: #e0e9ea;
      .range-slider__fill {
        background: #9fb9c3;
      }
    }

    &-label {
      flex: 0 0 auto;
      font-size: 13px;
      font-weight: 600;
      color: var(--bs-primary);
    }

    &--highest {
      max-width: 100%;
      padding: 5px 15px;
      border-radius: var(--bs-border-radius-pill);
      background-color: var(--bs-primary);

      .range-slider-wrp {
        height: 5px;
        background: rgba(255, 255, 255, 0.25);

        .range-slider__fill {
          background: #fff;
        }
      }

      .comparison-value__score-label {
        color: #fff;
      }
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: -0.04em;
      line-height: 1.4;
      color: var(--color-dark-secondary);

      i {
        flex: 0 0 auto;
        font-size: 14px;
        margin-top: 2px;
      }
    }

    &--positive i {
      color: #23A84D;
    }

    &--negative i {
      color: #DE3A1E;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-dark-secondary);
  }
}

