@use '../base' as *;

.heading-wrp {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .hdng-dtls {
    width: 75%;
    flex: 0 0 auto;
    p {
      font-size: 17px;
      line-height: 26px;
      color: var(--bs-body-color);
      margin-bottom: 38px;
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        font-size: 16px;
        line-height: 26px;
        color: var(--color-dark-secondary);
        position: relative;
        padding-left: 18px;
        letter-spacing: -0.04em;
        &::before{
          content: "";
          position: absolute;
          top: 9px;
          left: 0;
          width: 7px;
          height: 7px;
          background-color: var(--bs-secondary);
          border-radius: 50%;
        }
      }
      li + li{
        margin-top: 20px;
      }
    }
  }
}
