@use '../base' as *;

.feature-crd {
  padding: 45px 22px 36px 22px;
  background-color: var(--bs-white);
  border-radius: 12px;
  border: 1px solid rgba(216, 222, 230, 87%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  text-align: center;
  gap: 25px;
  @include mini-desktop{
    padding: 30px 18px;
  }

  .crd-img {
    background-color: var(--bs-primary);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;

    @include nav-collapsed{
      width: 80px;
      height: 80px;
    }
    @include mini-desktop{
      width: 60px;
      height: 60px;
    }
    img{
      @include nav-collapsed{
        max-width: 35px;
      }
      @include mini-desktop{
        max-width: 25px;
      }
    }
  }

  h3 {
    color: var(--color-dark-secondary);
    margin-bottom: 0;
    @include mini-desktop{
      font-size: 17px;
    }
    @include mini-mobile{
      font-size: 20px;
    }
  }
  p{
    @include mini-desktop{
      font-size: 15px;
      line-height: 20px;
    }
    @include mini-mobile{
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__btn {
    margin-top: auto;
  }
}
