
.lensCrd{
  position: relative;
  .logo-wrp{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-primary);
    margin-bottom: 26px;
    img{
      max-width: 24px;
    }
  }
  h3{
    color: var(--color-dark-secondary);
    letter-spacing: -0.04em;
    line-height: 24px;
    margin: 0;
  }
  p{
    margin-top: 22px;
  }
  ul{
    padding: 0;
    list-style: none;
    margin-top: 22px;
    li{
      position: relative;
      letter-spacing: -0.04em;
      padding-left: 20px;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--bs-body-color);
      }
    }
    li + li{
      margin-top: 5px;
    }
  }
}
