@use '../base' as *;

.marquee-wrapper {
  background: var(--bs-light);
  overflow: hidden;
  width: 100%;
  padding-bottom: 50px;
  .marquee-swiper {
  width: 100%;
  :deep(.swiper-wrapper) {
  transition-timing-function: linear !important;
  -webkit-transition-timing-function: linear !important;
}

:deep(.swiper-slide.marquee-slide) {
  width: auto !important;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}
}
}





.slide-label {
  color: var(--bs-primary);
  white-space: nowrap;
  padding: 0 10px;
  user-select: none;
  font-size: 170px;
  font-weight: 600;
  line-height: 0.8;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  @include tablet{
    font-size: 100px;
  }

  &.dim {
    color: var(--bs-gray-300);
  }
}

.slide-sep {
  font-size: 100px;
  color: var(--bs-primary);
  font-weight: 700;
  padding: 0 30px;
  line-height: 1;
  flex-shrink: 0;
  user-select: none;
}
