@use "../base" as *;

.stack-card{
  background-color: var(--bs-white);
  border: 1px solid #D8DEE6;
  border-radius: 10px;
  padding: 30px 20px 35px 20px;
  box-shadow: 0 7px 28.8px #d4d4d430;
  .stack-card__number{
    font-size: 45px;
    line-height: 56px;
    color: #66707E;
    font-weight: 600;
    letter-spacing: -0.05em;
    margin-bottom: 38px;
    font-family: var(--font-display);
  }
  .stack-card__description{
    font-size: 15px;
    letter-spacing: -0.03em;
    line-height: 22px;
    margin-bottom: 18px;
  }
  .stack-card__tools{
    font-size: 13px;
    color: #1E5C72;
    font-weight: 500;
    letter-spacing: -0.04em;
  }
}
