@use "../base" as *;

.regSummry-crd {
  background-color: var(--bs-primary);
  border-radius: 20px;
  padding: 13px;
  position: relative;
  .imgWrp {
    position: relative;
    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
      z-index: 1;
    }
    .date-time {
      padding: 10px 13px 10px;
      border-radius: 12px;
      background-color: var(--bs-primary);
      position: absolute;
      left: 11px;
      top: 12px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      font-family: var(--font-display);
      .date {
        font-size: 36px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.05em;
        text-align: center;
      }
      .month {
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.05em;
        text-align: center;
      }
    }
  }
  .summary-data {
    margin-top: 13px;
    border: 1px solid var(--bs-border-color);
    background-color: var(--bs-white);
    border-radius: 15px;
    padding: 20px;
    h3 {
      color: var(--color-dark-secondary);
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.05em;
      max-width: 336px;
      @include mini-desktop {
        font-size: 18px;
        line-height: 25px;
      }
    }
    .evnt-dtls {
      margin-top: 25px;
      margin-bottom: 30px;
      p {
        display: flex;
        align-items: center;
        gap: 19px;
        color: #262c31;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.04em;
        @include mini-desktop {
          font-size: 15px;
          line-height: 25px;
        }
        span {
          width: 20px;
        }
      }
      p + p {
        margin-top: 26px;
        @include mini-desktop {
          margin-top: 16px;
        }
      }
    }
    .price-wrap {
      padding-block: 24px;
      border-top: 1px solid #a4b1b8;
      border-bottom: 1px solid #a4b1b8;
      @include mini-desktop {
        padding-block: 14px;
      }
      h6 {
        font-size: 14px;
        font-weight: 500;
        color: #636a78;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
      .price-person {
        color: var(--color-dark-secondary);
        font-size: 15px;
        font-weight: 600;
        font-family: var(--font-display);
        text-transform: uppercase;
        letter-spacing: -0.05em;
        .price {
          font-size: 24px;
        }
      }
      .person-type {
        font-size: 14px;
        color: #4d565e;
        letter-spacing: -0.05em;
      }
    }
    .streming-seat-wrp {
      padding-block: 24px;
      border-bottom: 1px solid #a4b1b8;
      @include mini-desktop {
        padding-block: 14px;
      }
      h6 {
        font-size: 14px;
        font-weight: 500;
        color: #636a78;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
      p {
        display: flex;
        align-items: center;
        gap: 10px;
        .seat {
          color: #7e8896;
          font-size: 14px;
          font-weight: 600;
          font-family: var(--font-display);
          text-transform: uppercase;
          letter-spacing: -0.05em;
          .book-seat {
            color: var(--bs-primary);
            font-size: 20px;
          }
        }
      }
    }
    .benifit-wrap {
      padding: 0;
      margin-top: 24px;
      li {
        display: flex;
        align-items: center;
        gap: 19px;
        .icon {
          width: 20px;
        }
        .text {
          color: #262c31;
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: -0.04em;
          @include mini-desktop {
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
      li + li {
        margin-top: 22px;
        @include mini-desktop {
          margin-top: 16px;
        }
      }
    }
  }
}
