

.sessionCard{
  display: flex;
  gap: 14px;
  .seconLogo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #50B1A7;
    flex: 0 0 auto;
  }
  .dtls{
    h5{
      color: var(--color-dark-secondary);
      font-size: 15px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: -0.03em;
      margin-bottom: 0;

    }
  }
}
