@use '../base' as *;
.use-case-card{
  background-color: #F7F9F9;
  border-radius: 10px;
  border: 1px solid var(--bs-border-color);
  padding: 33px 17px 32px 30px;
  .card-hdr{
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 22px;
    .logo{
      width: 50px;
      height: 50px;
      border-radius: 10px;
      background-color: var(--bs-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        max-width: 27px;
      }
    }
    h6{
      font-size: 20px;
      color: var(--color-dark-secondary);
      font-weight: 600;
      margin: 0;
    }
  }
  .card-body{
    p{
      font-size: 17px;
      letter-spacing: -0.04em;
    }
  }
}
