@use "../base" as *;

.deepdrive-sec {
  padding: var(--sec-gap) 0 60px 0;
  position: relative;
  .deepdrive-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .lensCrd {
      max-width: 268px;
      p {
        margin-top: 16px;

        @include tablet {
          margin-top: 10px;
        }
      }
    }
  }
}
.surfaceSec {
  position: relative;
  padding-bottom: var(--sec-gap);
  .serfaceWrp {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .analysisCrd {
      width: calc(33.33% - 20px);
      @include tablet {
        width: calc(50% - 15px);
        margin-top: 0;
      }
      @include mini-mobile {
        width: 100%;
        margin-top: 0;
      }
      .card-top {
        .card-number {
          font-weight: 600;
          font-size: 45px;
          letter-spacing: -0.05em;
        }
      }
    }
  }
}
