.approach-sec{
  background: linear-gradient(139.04deg, rgba(24.45, 67.72, 83.37, 1) 1.235%, rgba(31, 78, 95, 1) 49.426%);
    padding: var(--sec-gap) 0
}
.approach-sec .hdng{
  text-align: center;
}
.approach-sec .hdng h2{
  color: var(--bs-body-bg);
}
.approach-sec .cards-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.cards-wrap .word-card {
    width: calc(25% - 10px);
}
