@use '../base' as *;

.base-stack-sec{
  padding-top: 70px;
  .hdr-wrp{
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sec-title{
      color: var(--color-dark-secondary);
      font-weight: 600;
      margin: 0;
    }
  }
}
