@use '../base' as *;

.capability-pillars-sec {
  padding: var(--sec-gap) 0 50px 0;
  background-color: var(--bs-light);

  .hdng {
    max-width: 600px;
    text-align: center;
    margin-bottom: 45px;
    margin-inline: auto;
  }

  .sec__subtitle {
    max-width: 500px;
    margin-inline: auto;
  }
}
.capability-pillars-sec .fetaure-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .feature-crd {
    width: calc(33.333% - 20px);
    @include tablet{
      width: calc(50% - 15px);
    }
    @include mini-mobile{
      width: 100%;
      max-width: 100%;
    }
  }
}
