@use "../base" as *;

.cstd_bnr {
  padding-top: 75px;
  h1 {
    color: $color-dark-secondary;
    max-width: 850px;
  }
  p {
    max-width: 580px;
    color: #4d565e;
  }
}

.projectInfo_wrap {
  display: flex;
  gap: 30px 90px;
  max-width: 840px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid var(--bs-border-color);
  .info-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .info-label {
      color: #636a78;
      font-size: 13px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
    }
    .info-value {
      color: $color-dark-secondary;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.04em;
    }
  }
}
.info_outer_wrp {
  background-color: $color-primary;
  border-radius: var(--border-radius-sm);
  padding: 30px 40px;
  .projectInfo_wrap {
    display: flex;
    justify-content: space-between;
    .info-item {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .info-label {
        color: #636a78;
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
      }
      .info-value {
        color: $color-dark-secondary;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.04em;
      }
    }
  }
}
