@use "../base" as *;

.checkout-section {
  padding: var(--sec-gap) 0;
  .checkout-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .informaction-wrap {
      width: calc(60% - 10px);
      background-color: #ffffffb2;
      border: 1px solid #d8dee6de;
      border-radius: 15px;
      padding: 60px 40px 45px 40px;
      .hdng {
        margin-bottom: 35px;
        h1 {
          color: #0b1219;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 8px;
          line-height: 25px;
          text-transform: uppercase;
        }
      }
      .inp-wrap {
        display: flex;
        gap: 14px;
        flex-wrap: wrap;
        label {
          color: #1a1d21;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 8px;
        }
        .form-floating {
          background-color: transparent;
          border: none;
          border-radius: 0;
          padding: 0;
          height: auto;

          .baseInpFld {
            border: 1px solid #d8dee6cf;
            height: 45px;
            background-color: var(--bs-white);
            padding-inline: 15px;
            border-radius: 7px;
            color: #484f5b;
            font-size: 14px;
            font-weight: 500;
            &::placeholder {
              color: #484f5b;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
      .inp-wrap {
        .inp-innr-wrap {
          width: calc(50% - 7px);
        }
        .inp-innr-wrap-fl-wdth {
          width: 100%;
        }
      }
      .inp-wrap + .inp-wrap {
        margin-top: 22px;
      }
      .note-wrap {
        padding: 35px 0;
        border-bottom: 1px solid #d8dee6;
        p {
          display: flex;
          align-items: center;
          gap: 18px;
          color: #1a1d21;
          letter-spacing: -0.04em;
          span {
            flex: 0 0 auto;
          }
        }
      }
    }
    .summary-wrap {
      width: calc(40% - 10px);
      padding: 40px 24px 60px 24px;
      background-color: #ffffffb2;
      border-radius: 15px;
      .hdng {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
        margin-bottom: 40px;
        h2 {
          color: #0b1219;
          font-size: 18px;
          font-weight: 600;
          margin: 0;
          line-height: 25px;
          text-transform: uppercase;
        }
        .btn {
          background-color: transparent;
          border: none;
          height: auto;
          padding: 0;
          color: #2a8e89;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: -0.04em;
        }
      }
      .membership-wrap {
        padding-bottom: 36px;
        border-bottom: 1px solid #d8dee6;

        .contnt-wrap {
          display: flex;
          gap: 16px;
          .icon {
            width: 51px;
            height: 51px;
            border-radius: 10px;
            background-color: #021c16;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            img {
              max-width: 28px;
            }
          }
          .txt {
            flex: 1;
            h6 {
              color: #1b222c;
              font-size: 15px;
              font-weight: 600;
              margin-bottom: 6px;
              line-height: 25px;
            }
            p {
              color: #525962;
              font-size: 15px;
              font-weight: 500;
              letter-spacing: -0.04em;
              .price {
                font-size: 19px;
                font-weight: 600;
                color: #1b232d;
              }
            }
            .btmWrap {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 2px;
              gap: 15px;
              .anually-price {
                color: #212730;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: -0.04em;
              }
            }
          }
        }
      }
      h5 {
        font-size: 16px;
        color: #1a1d21;
        font-weight: 600;
        margin-bottom: 18px;
      }
      .adds-on-wrap {
        padding-block: 36px;
        border-bottom: 1px solid #d8dee6;
        ul {
          padding: 0;
          margin: 0;
          margin-top: 25px;
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            color: #525962;
            font-size: 15px;
            font-weight: 500;
          }
          li + li {
            margin-top: 8px;
          }
        }
      }
      .subtotal-wrap {
        padding-block: 36px;
        border-bottom: 1px solid #d8dee6;
        .subttl-innr {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          margin-bottom: 18px;
          h5 {
            margin: 0;
          }
          p {
            color: #525962;
            font-size: 15px;
            font-weight: 500;
          }
        }
        .vat-data {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          p {
            color: #525962;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
      .totalAmmnt-wrap {
        padding-block: 36px;

        .totalAmmnt-innr {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          margin-bottom: 18px;
          h5 {
            margin: 0;
            font-size: 22px;
          }
          p {
            color: #1a3928;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: -0.04em;
          }
        }
        .dueAmmnt {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          p {
            color: #525962;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
      .saving-wrap {
        background-color: #edf4f5;
        border: 1px solid #e0e9ea;
        border-radius: 10px;
        padding: 18px 30px 24px;
        display: flex;
        gap: 16px;
        .sield-icon {
          max-width: 24px;
          flex: 0 0 auto;
        }
        .save-text {
          .save-amount {
            color: #454a55;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: -0.04em;
            .ammnt {
              color: #225339;
              font-size: 16px;
            }
          }
          .save-period {
            color: #454a55;
            font-size: 15px;
          }
        }
      }
      .include-plane {
        padding-block: 36px;
        h6 {
          color: #1f4e5f;
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 0.08em;
          margin-bottom: 18px;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            display: flex;
            align-items: center;
            gap: 18px;
            font-size: 14px;
            color: #1f4e5f;
            font-weight: 600;
            letter-spacing: -0.04em;
            .icon-wrap {
              width: 18px;
              height: 18px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex: 0 0 auto;
              background-color: #eaeceb;
            }
          }
          li + li {
            margin-top: 12px;
          }
        }
      }
      .need-help-wrap {
        background-color: #edf4f5;
        border-radius: 10px;
        border: 1px solid #e0e9ea;
        padding: 28px 30px;
        display: flex;
        gap: 16px;

        .sield-icon {
          max-width: 28px;
        }
        .help-txt{
          h6{
            color:#2C313B ;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: -0.03em;
            margin-bottom: 2px;
          }
          p{
            color: #454A55;
            font-size: 15px;
            letter-spacing: -0.03em;
            margin-bottom: 10px;
          }
          a{
            display: block;
            color: #287274;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: -0.04em;
          }
          a + a{
            margin-top: 10px;
          }
        }

      }
      .btn-wrap{
        margin-top: 19px;
        margin-bottom: 26px;
        .btn{
          width: 100%;
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
      .terms-wrap{
        p{
          text-align: center;
          font-size: 15px;
          font-weight: 500;
          color: #525962;
          margin-bottom: 5px;
          letter-spacing: -0.04em;
        }
        ul{
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          li{
            font-size: 13px;
            color: #287274;
            font-weight: 500;
            letter-spacing: -0.04em;
            a{
              text-decoration: underline;
              color: #287274;
            }

          }
        }
      }
    }
  }
}
