@use '../base' as *;

.our-model-sec {
  background: $gradient-primary;
  padding: var(--sec-gap) 0;

  .hdng {
    max-width: 1080px;
    margin: 0 auto 55px auto;
    text-align: center;
    @include nav-collapsed{
      max-width: 750px;
    }
    @include tablet{
      margin-bottom: 30px;
    }

    h2 {
      text-align: center;
      color: var(--bs-body-bg);
    }

    p {
      text-align: center;
      color: var(--bs-white);

      & + p {
        margin-top: 10px;
      }
    }
  }
  .hdng-btm{
    margin-bottom: 0;
  }
  .cards-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  flex-wrap: wrap;
  row-gap: 20px;
  @include tablet{
    margin-bottom: 30px;
  }

  .word-card {
    width: calc(25% - 10px);
    @include tablet{
      width: calc(50% - 10px);
    }
    @include mini-mobile{
      width: 100%;
    }
  }
}
}


