@use "../base" as *;

.playbookdtls-bnnr {
  .hero-banner__content {
    max-width: 800px;
    position: relative;
    z-index: 2;

    .tagChipwrap {
      display: flex;
      flex-wrap: wrap;
      gap: 7px;

      .tag-chip {
        display: flex;
        align-items: center;
        gap: 2px;
        padding: 10px 12px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(216, 222, 230, 47%);

        .label {
          color: #979ba2;
          font-size: 13px;
          letter-spacing: -0.04em;
          font-weight: 500;
          line-height: 1;
        }

        .text {
          color: #f3f7ff;
          font-size: 13px;
          letter-spacing: -0.04em;
          font-weight: 500;
          line-height: 1;
        }
      }
    }

    .idealist {
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 48px;
      padding: 0;
      flex-wrap: wrap;

      @include mobile {
        gap: 25px;
      }

      li {
        max-width: 148px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 12px;

        img {
          max-width: 26px;
          flex: 0 0 auto;
        }

        span {
          color: #eeb356;
          font-size: 14px;
          letter-spacing: -0.04em;
          font-weight: 500;
          line-height: 17px;
        }
      }
    }
  }
}

.whenweUse-sec {
  padding: var(--sec-gap) 0;
  position: relative;

  .wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @include tablet {
      align-items: flex-start;
    }
    @include mobile{
      flex-direction: column;
    }

    .imgWrapBox {
      width: 45%;
      background-color: #1e4d5d;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      padding: 10px;
      @include mobile{
        width: 100%;
      }

      .info-card {
        width: 302px;
        top: 174px;
        z-index: 2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        backdrop-filter: blur(12px);
        @include tablet {
          width: 75%;
          top: 54px;
          padding: 30px 20px;
        }

        .info-card__section {
          margin: 0;
        }

        .info-card__section + .info-card__section {
          margin-top: 18px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        position: relative;
        z-index: 1;
      }
    }

    .txtWraper {
      width: 55%;
      padding-left: 70px;
      @include tablet {
        padding-left: 25px;
      }
      @include mobile{
        width: 100%;
        padding-left: 0;
        margin-top: 30px;
      }

      .useCases-list {
        padding: 0;
        margin: 0;
        margin-top: 45px;
        margin-bottom: 40px;
        @include tablet {
          margin-top: 5px;
          margin-bottom: 18px;
        }

        li {
          display: flex;
          align-items: center;
          gap: 13px;

          span {
            i {
              color: var(--bs-secondary);
            }
          }
        }

        li + li {
          margin-top: 20px;
          @include tablet {
            margin-top: 12px;
          }
        }
      }

      p {
        color: var(--bs-secondary);
        letter-spacing: 0.03em;
        max-width: 405px;
        font-size: 17px;
        font-weight: 500;
      }

      h6 {
        margin-top: 40px;
        color: #484f58;
        font-size: 13px;
        margin-bottom: 18px;
        @include tablet {
          margin-top: 15px;
          margin-bottom: 10px;
        }
      }

      .leaderShipList {
        display: flex;
        align-items: center;
        gap: 9px;

        .base-chip {
          background-color: #e8f6f6;
          border: 1px solid #cfe2e2;
        }
      }
    }
  }
}

.whatweget-sec {
  background-color: var(--bs-light);

  .wraper {
    flex-direction: row-reverse;
    @include mobile{
      flex-direction: column-reverse;
    }

    .txtWraper {
      width: 58%;
      padding-left: 0;
      padding-right: 133px;
      @include tablet {
        padding-right: 25px;
      }
      @include mobile{
        width: 100%;
        padding-right: 0;
      }

      .artifacts-lists {
        margin-top: 63px;
        padding: 0;
        @include tablet {
          margin: 0;
        }

        li {
          display: flex;
          gap: 26px;
          @include tablet {
            gap: 12px;
          }

          .icon-wrap {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e4eaed;
            flex: 0 0 auto;
            @include tablet {
              width: 40px;
              height: 40px;
            }

            img {
              max-width: 26px;
              @include tablet {
                max-width: 20px;
              }
            }
          }
          h3 {
            @include tablet {
              font-size: 16px;
            }
          }

          p {
            color: var(--bs-body-color);
            font-size: 16px;
            letter-spacing: -0.04em;
            line-height: 22px;
            max-width: 100%;
            font-weight: 400;
            @include tablet {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }

        li + li {
          margin-top: 32px;
          @include tablet {
            margin-top: 20px;
          }
        }
      }
    }

    .imgWrapBox {
      width: 42%;
      @include mobile{
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}

.execute-sec {
  background: $gradient-primary;
  overflow: hidden;

  .container {
    padding-top: var(--sec-gap);
    padding-bottom: 200px;
    position: relative;
    @include mobile{
      padding-bottom: 300px;
    }

    &::after {
      content: "";
      position: absolute;
      background: url(/src/assets/images/what-we-do-after-img.png) no-repeat;
      background-position: bottom left;
      background-size: contain;
      width: 1200px;
      height: 600px;
      left: -660px;
      bottom: 0;
      @include mini-desktop {
        height: 530px;
        left: -660px;
      }
      @include tablet {
        height: 450px;
        left: -310px;
        width: 600px;
      }
      @include mobile{
                height: 350px;
        left: -210px;
        width: 480px;
      }
    }

    .hdng-wrap {
      padding-left: 96px;
      padding-right: 65px;
      width: 50%;
      flex: 0 0 auto;
      @include tablet {
        padding-left: 0;
      }
      @include mobile{
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
      }

      .sec__title {
        color: var(--bs-body-bg);
        max-width: 430px;
        @include mobile{
          margin-bottom: 10px;
        }
      }

      .sub-hdng {
        position: relative;
        color: #e9eef2;
        font-size: 18px;
        letter-spacing: -2%;
        line-height: 22px;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
          background-color: #e9eef2;
          width: 131px;
          height: 1px;
          top: 11px;
          left: 113%;
        }
      }
    }

    .wraper-con {
      display: flex;
      @include mobile{
        flex-direction: column;
      }
    }
  }
}

.playbook-sec {
  padding: var(--sec-gap) 0;
  background-color: var(--bs-light);

  .hdng-wrap {
    text-align: center;
    width: 100%;
    padding: 0;

    .sec__title {
      text-align: center;
      max-width: 100%;
      color: var(--color-dark-secondary);
    }
  }

  .playbook-wrap {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 50px;

    .playbook-crd {
      width: calc(33.33% - 11px);
      display: flex;
      flex-direction: column;
      @include tablet {
        width: calc(50% - 11px);
      }
      @include mobile{
        width: 100%;
      }
    }
  }
}

.engagement-sec {
  padding: var(--sec-gap) 0;
  background-color: var(--color-surface);

  .hdngWrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
    @include mobile{
      flex-direction: column;
      align-items: start;
    }

    .left-side {
      .sec__title {
        max-width: 700px;
        @include mini-desktop {
          max-width: 430px;
        }
      }
    }
  }

  .contentWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    @include tablet {
      gap: 25px;
    }

    .lensCrd {
      width: calc(33.33% - 50px);
      max-width: 344px;
      @include tablet {
        width: calc(33.33% - 17px);
      }
      @include mobile{
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.pitfall-sec {
  background-color: var(--bs-success);
  padding: var(--sec-gap) 0;

  .wrap {
    display: flex;
    justify-content: space-between;
    @include mobile{
      flex-direction: column;
      align-items: flex-start;
    }

    .left-wrap {
      width: 65%;
      @include mini-desktop {
        width: 50%;
      }
      @include mobile{
        width: 100%;
      }

      .sec__title {
        color: var(--bs-white);
        margin-bottom: 50px;
      }

      .wrongList {
        ul {
          margin: 0;
          padding: 0;

          li {
            color: #eeeeee;
            letter-spacing: -0.04em;
            display: flex;
            align-items: center;
            gap: 10px;

            i {
              color: #eeeeee;
            }
          }

          li + li {
            margin-top: 20px;
          }
        }
      }
    }

    .right-wrap {
      width: 35%;
      padding: 0;
      @include mini-desktop {
        width: 50%;
      }
      @include mobile{
        width: 100%;
        margin-top: 30px;
      }

      .info-card {
        max-width: 390px;
        margin-left: auto;
        @include mobile{
          margin: 0 auto;
        }
      }
    }
  }
}

.aistack-sec {
  padding: var(--sec-gap) 0;
  background-color: var(--bs-light);

  .top-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile{
      flex-direction: column;
      align-items: flex-start;
    }

    .hdng-wraper {
      max-width: 60%;
      @include mobile{
        max-width: 100%;
      }

      .sec__title {
        max-width: 720px;
        @include mobile{
          text-align: left;
        }
      }
    }


  }

  .slider-wrap {
    margin-top: 30px;
  }
}

.related-sec {
  padding-top: var(--sec-gap);
  padding-bottom: 50px;

  .hdng-wraper {
    text-align: center;
  }

  .related-list {
    margin-top: 40px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 0;
    @include mobile{
      flex-direction: column;
    }

    li {
      width: calc(33.33% - 8px);
      @include mobile{
        width: 100%;
      }

      .innr-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 20px;
        border-radius: 10px;
        border: 1px solid rgba(216, 222, 230, 87%);
        background-color: var(--bs-white);
        width: 100%;

        h4 {
          font-size: 17px;
          color: var(--color-dark-secondary);
          font-weight: 600;
          letter-spacing: -0.05em;
          margin: 0;
        }

        .btn {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          padding: 0;
          flex: 0 0 auto;
        }
      }
    }
  }
}
