@use "../base" as *;

.guide-sec {
  padding-bottom: var(--sec-gap);
  position: relative;
  .container {
    padding-top: 45px;
    border-top: 1px solid var(--bs-border-color);
    .top-wrap {
      display: flex;
      align-items: center;
      @include mobile{
        flex-direction: column;
    align-items: flex-start;
      }
      .left-prt {
        width: 60%;
        @include mobile{
          width: 100%;
        }
        .sec__title {
          max-width: 575px;
        }
      }
      .right-prt {
        width: 40%;
        display: flex;
        justify-content: end;
        align-items: center;
        @include mobile{
          width: 100%;
        }
        .filter-prt {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 10px;
          flex: 0 0 auto;
          width: 100%;

          .filter-select {
            max-width: 155px;
            @include tablet {
              display: none;
            }

            .base-select__label {
              font-size: 17px;
              color: var(--bs-body-color);
            }
            .base-select__field {
              border: 1px solid rgb(107 114 128 / 25%);
              color: var(--bs-primary);
              font-size: 15px;
              border-radius: 40px;
            }
          }
          .filter-funnel {
            display: none;
            width: 40px;
            height: 40px;
            border: 1px solid #d6d8da;
            border-radius: 50%;
            background-color: #fafaf8;
            position: relative;
            cursor: pointer;

            @include tablet {
              display: block;
            }
            svg {
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .sidebar {
            position: fixed;
            top: 0;
            /* bottom: 0; */
            height: 100dvh;
            left: 0;
            width: 300px;
            background: var(--bs-white);
            border: 1px solid var(--bs-border-color);
            z-index: 1029;
            transform: translateX(-100%);
            transition: var(--bs-transition);
            box-shadow: var(--bs-box-shadow-lg);
            &.active {
              transform: translateX(0);
            }
            .filter-header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .filter-title{
                margin: 0;
              }
              .close-btn {
                border: none;
                width: fit-content;
                background-color: transparent;
              }
            }
            .filter-body {
              padding-inline: 20px;
              margin-top: 30px;
              .filter-inner {
                h5 {
                  font-size: 15px;
                  line-height: 1.2;
                  font-weight: 500;
                  color: var(--bs-dark);
                  letter-spacing: -0.05em;
                  margin-bottom: 20px;
                }
                .radioGrp {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  .label {
                    font-size: 14px;
                    font-weight: 400;
                    color: #7e8694;
                    line-height: 1;
                    letter-spacing: -0.03em;
                  }
                }
              }
              .filter-inner + .filter-inner {
                padding-top: 25px;
              }
            }
          }
          .overlay-side {
            display: block;
            position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.4);
            z-index: 1025;
            backdrop-filter: blur(2px);
          }
        }
      }
    }
    .tools-cards-wrap {
      margin-top: 50px;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      @include nav-collapsed {
        gap: 20px;
      }
      .analysisCrd {
        width: calc(33.33% - 20px);
        @include nav-collapsed {
          width: calc(33.33% - 14px);
        }
        @include mini-desktop {
          width: calc(50% - 10px);
        }
        @include mobile{
          width: 100%;
        }
        .card-title {
          margin-bottom: 12px;
          margin-top: 3px;
          @include nav-collapsed {
            min-height: 48px;
          }
        }
        .card-description {
          margin-bottom: 20px;
        }

        ul.checklist {
          padding: 0;
          margin: 0;
          li {
            color: var(--color-dark-secondary);
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.03em;
            display: flex;
            align-items: center;
            gap: 6px;
            span {
              i {
                color: var(--bs-secondary);
              }
            }
          }
          li + li {
            margin-top: 12px;
          }
        }
        .main-wrp {
          margin-top: 17px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .inr-wrap {
            text-align: center;
            width: calc(33.33% - 6px);
            position: relative;
            flex: 0 0 auto;
            span {
              display: block;
              font-size: 18px;
              font-weight: 500;
              letter-spacing: -0.03em;
              color: var(--bs-secondary);
              line-height: 22px;
              text-align: center;
              @include nav-collapsed {
                font-size: 16px;
              }
            }
            p {
              font-size: 14px;
              line-height: 22px;
              color: var(--bs-body-color);
              margin: 0;
              letter-spacing: -0.02em;
              text-align: center;
              @include nav-collapsed {
                font-size: 13px;
              }
            }
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              width: 1px;
              height: 28px;
              background-color: #d9d9d9;
            }
          }
          .engedment-wrap {
            background-color: #1c79c5;
            border-radius: 10px;
            text-align: center;
            padding: 8px 3px;
            width: calc(33.33% - 7px);
            flex: 0 0 auto;
            span {
              color: #fff;
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: -0.03em;
              display: block;
              text-align: center;
              @include nav-collapsed {
                font-size: 16px;
              }
            }
            p {
              color: #fff;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: -0.02em;
              margin: 0;
              text-align: center;
              @include nav-collapsed {
                font-size: 12px;
              }
            }
          }
        }
        .btn-wrap {
          margin-top: 35px;
          .btn {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            height: auto;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--bs-primary);
            letter-spacing: 0.08em;
          }
        }
      }
    }
  }
}
