@use '../base' as *;

.stack-section{
  padding-bottom: var(--sec-gap);
  position: relative;
  .sec-title{
    margin-bottom: 25px;
    color: var(--color-dark-secondary);
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.05em;

  }
  .stack-list{
      display: flex;
      gap: 18px;
      flex-wrap: wrap;
      .stack-card{
        width: calc(33.33% - 12px);
        @include tablet{
          width: calc(50% - 12px);
        }
        @include mini-mobile{
          width: 100%;
        }
        &:has(.tools){
          width: 100%;
        }

      }
    }
}
