@use "../base" as *;


.summary-section{
  padding-bottom: var(--sec-gap);
  .sec-title{
    font-size: 36px;
    color: var(--color-dark-secondary);
    letter-spacing: -0.05em;
    font-weight: 600;
    @include tablet{
      font-size: 30px;
    }
  }
  .card-wraper{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
    @include mobile{
      row-gap: 20px;
    }
    .card-wrp{
      width: calc(50% - 15px);
      @include mobile{
        width: calc(50% - 10px);
      }
      @include mini-mobile{
        width: 100%;
      }
    }
  }
}
