@use "../base" as *;

.tools-comparison {
  padding: 60px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  &__title {
    color: var(--color-dark-secondary);
    margin-bottom: 8px;
  }

  &__subtitle {
    color: #8b929f;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
  }

  &__cta {
    flex: 0 0 auto;
    height: 48px;
    padding: 0 24px;
    font-size: 12px;
    white-space: nowrap;
  }
}
