@use "../base" as *;

.tools-comparison {
  padding: 60px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }

  &__title {
    color: var(--color-dark-secondary);
    margin-bottom: 25px;
    @include mini-desktop {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    color: #4d565e;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    @include mini-desktop {
      font-size: 17px;
    line-height: 1.5;
    }
  }

  &__cta {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}

.compare_inte_data h2 {
  max-width: 675px;
  margin-inline: auto;
}
