@use '../base' as *;

.whatwedo-sec {
  background: $gradient-primary;
  overflow: hidden;

  .container {
    padding-top: var(--sec-gap);
    padding-bottom: 200px;
    position: relative;
    @include mobile{
      padding-bottom: 320px;
    }
    .whatdo-wrap{
      @include mobile{
        flex-direction: column;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background: url(/src/assets/images/what-we-do-after-img.png) no-repeat;
      background-position: bottom left;
      background-size: contain;
      width: 1200px;
      height: 600px;
      left: -660px;
      bottom: 0;

      @include mini-desktop{
        width: 1100px;
      }
      @include tablet{
        width: 600px;
        left: -350px;
      }
      @include mini-mobile{
        left: -120px;
      }
    }
  }
}

.hdng-wrap {
  padding-left: 96px;
  padding-right: 65px;
  width: 50%;
  flex: 0 0 auto;
  @include tablet{
    padding: 0;
  }
  @include mobile{
    width: 100%;
  }

  .sec__title {
    color: var(--bs-body-bg);
    max-width: 430px;
  }

  .sub-hdng {
    position: relative;
    color: #E9EEF2;
    font-size: 18px;
    letter-spacing: -2%;
    line-height: 22px;
    display: inline-block;
    @include tablet{
      font-size: 15px;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #E9EEF2;
      width: 131px;
      height: 1px;
      top: 11px;
      left: 113%;
      @include tablet{
        width: 61px;
      }
    }
  }
}

.work-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 78px;
  width: 50%;
  @include tablet{
    padding-top: 48px;
  }
  @include mobile{
    width: 100%;
  }
  @include mini-mobile{
    row-gap: 20px;
  }
}
